body
{
    font-family: Cambria, Cochin, Georgia, Times,'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 1024px;
}
header {
    flex: 100%;
    background: #1abc9c;
    color: white;
    padding: 30px;
    text-align: center;
}
.special-link {
    color: black; 
    text-decoration: none; 
}
.special-link:hover {
    color: #1abc9c; 
    text-decoration: none; 
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    flex: 100%;
    color: white;
    padding: 14px 20px;
    justify-content: center;
}
h2{
    font-size: 30px;
    margin-bottom: 5px;
    color: #1abc9c;
}
h3{
    font-size: 30px;
    margin-bottom: 5px;
    color: black;
}
article {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(26, 188, 156, .5)
}
article h3 {
    font-weight: 100;
    font-size: 1em
}
.datetime {
    align-self: flex-end;
    background-color: #1abc9c !important;
    border-radius: 5px;
    color: white;
    padding: 6px 18px;
    text-decoration: none;
    margin-bottom: 5px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row h3 {
    margin: 0;
}

.header-row .datetime {
    margin-left: 20px;
}
footer {
    flex: 100%;
    background: #1abc9c;
    color: white;
    padding: 5px;
    text-align: center;
}

/*trượt thanh*/
#scroll-to-top {
    display: none; /* Ẩn nút ban đầu */
    position: fixed; /* Định vị cố định ở góc dưới bên phải */
    bottom: 80px; /* Khoảng cách từ dưới cùng của màn hình */
    right: 20px; /* Khoảng cách từ bên phải của màn hình */
    z-index: 1000; /* Đảm bảo nút nằm trên các phần tử khác */
    border: none; /* Bỏ đường viền */
    outline: none; /* Bỏ viền khi nhấn */
    background-color: #1abc9c; /* Màu nền */
    color: white; /* Màu chữ */
    cursor: pointer; /* Con trỏ chuột khi di chuyển qua nút */
    padding: 10px 15px; /* Khoảng cách bên trong nút */
    border-radius: 5px; /* Bo tròn các góc */
    font-size: 16px; /* Kích thước chữ */
}

#scroll-to-top:hover {
    background-color: #1abc9c; /* Màu nền khi di chuột qua nút */
}