body
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color:black;
    margin: 0 auto;
    text-align: center;
    width: 1024px;
}

a:link 
{
    text-decoration: none;
    color:black;
}

a:visited 
{
    text-decoration: none;
    color:black;
}

a:hover 
{
    color:#e34749;
}
a:active
{
    color:#e34749;
}
nav
{
    display: flex;
    background-color:aliceblue;
    flex: 100%;
    padding: 0px;
}
nav a
{
    color:black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}
nav a:hover
{
    background-color: #e34749;
    color: black;
}
nav #selected
{
    background-color: #e34749;
    color: black;
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: flex;
    background-color:#e34749;
    flex: 100%;
    padding: 20px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    justify-content: center;
}
h3{
    font-size: 28px;
    margin-bottom: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: flex;
    background-color:#e34749;
    flex: 100%;
    padding: 20px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    justify-content: center;
}
.form-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}

input[type="submit"]:hover {
    background-color: #e34749;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item p {
    margin-top: 10px;
}

.special-link {
    color: red; 
    text-decoration: none; 
}
.special-link:hover {
    color: white; 
    text-decoration: underline; 
}
